.button_template{
    background-color: aqua;
    border: solid;
    border-color: bisque;
}
.button{
    background-color: bisque;
    border: solid;
    border-color: aqua;
}
.console{
    visibility: hidden;
    background-color: red;
}
#wrapimg{
    float: left;
}
#wraptxt{
    margin-top: 27px;
    float: left;
    padding-left: 1em;
}
h1{
    overflow: auto;
    margin: auto;
    padding-left: 2em;
    /*! after: black; */
}
#else{
    max-width: 600px; /*width of template*/
    margin: auto;
}
#nav{
    background-color: #B2B6E6;
    width: 100%;
    height: 40px;
    margin-bottom: 1.5em;
}
h1:after { 
  content: '______________________________'; 
  display: block;
  margin-top: 5em;
    color: #B2B6E6
}
body{
    margin: 0;
}